<?xml version="1.0"?>
<database>
  <development>
    <driver>mysql</driver>
    <host>localhost</host>
    <database>barmooca</database>
    <user>root</user>
    <password>root</password>
  </development>
  <test>
    <host>localhost</host>
    <database>olutador_test</database>
    <user>olutador</user>
    <password>olutador</password>
  </test>
</database>